<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="mx-3">
      <h5>Status</h5>
      <div><%= analy[0].min_date %></div>
      <div>All request: <%= analy[0].count_all %></div>
      <div>Not completed requests: <%= analy[0].count_not_completed %></div>
      <div>Completed request: <%= analy[0].count_completed %></div>
      <button id="add-request" data-id="<%= work_and_client[0].work_id %>">
        Add new request
      </button>
      <button id="edit-work" data-id="<%= work_and_client[0].work_id %>">
        Edit
      </button>
    </div>
    <div class="mx-3">
      <div>Wrok of <%= work_and_client[0].user_name %></div>
      <div>It is started from <%= work_and_client[0].start_date %></div>
    </div>
    <div>
      <ul class="list-group">
        <% for (var i =0; i < requests.length; i++){ %>

        <li
          class="list-group-item request-box"
          data-id="<%=requests[i].request_id %>"
        >
          <div>Title: <%= requests[i].title %></div>
          <div>Start Date: <%= requests[i].start_date %></div>
          <div>Due Date: <%= requests[i].due_date %></div>
          <% if (requests[i].isDone) { %>
          <h5>
            Completed by <%= requests[i].who_did_name %> in <%=
            requests[i].isDone_date %>
          </h5>
          <% } else { %>
          <h5>Waitting....</h5>
          <% } %>
        </li>

        <% } %>
      </ul>

      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

      <script>
        $(".request-box").click(function (e) {
          console.log(this.dataset.id);
          location.href = `/requests/${this.dataset.id}`;
        });

        $("#add-request").click(function (e) {
          console.log(this.dataset.id);
          location.href = `/requests/mode/add?work_id=${this.dataset.id}`;
        });

        $("#edit-work").click(function (e) {
          console.log(this.dataset.id);
          location.href = `/works/mode/edit?work_id=${this.dataset.id}`;
        });
      </script>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
